@model List<UsuariosModel>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Usuarios listado";
}

<div class="row mt-5">
    <div class="col-md-12">
        <style>
            h1 {
                font-size: 24px;
                font-weight: bold;
                text-align: center;
                color: #8B0000;
            }
        </style>
        <h1>LISTADO DE LOS USUARIOS</h1>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        ID Usuario
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Apellido
                    </th>
                    <th>
                        Nro. DNI
                    </th>
                    <th>
                        Telefono
                    </th>
                    <th>
                        Direccion
                    </th>
                    <th>
                        Correo
                    </th>
                    <th>
                        Rol
                    </th>
                    <th>
                        Opciones
                    </th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.IdUsu
                        </td>
                        <td>
                            @item.Nombre
                        </td>
                        <td>
                            @item.Apellido
                        </td>
                        <td>
                            @item.DNI
                        </td>
                        <td>
                            @item.Telefono
                        </td>
                        <td>
                            @item.Direccion
                        </td>
                        <td>
                            @item.Correo
                        </td>

                            @if (item.Rol)
                            {
                            <td>
                                Administrador
                            </td>
                                    }
                            else
                            {
                            <td>
                                Cliente
                            </td>
                                    }

                        <td>
                            <a asp-action="EditUsu" asp-route-id="@item.IdUsu" class="btn btn-primary">Editar</a>
                            <a onclick="DeleteUsuario(@item.IdUsu)" class="btn btn-danger">Eliminar</a>
                        </td>
                        
                        
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

<div class="row">
    <div class="md-12">
        <a class="btn btn-primary" asp-action="AddUsu">
            Añadir Nuevo
        </a>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">


        const DeleteUsuario = (id) => {
            if (!confirm("¿Esta seguro que desea eliminar el registro?")) return;

            $.ajax({
                type: "GET",
                url: '@Url.Action("DeleteUsuConfirmed","Usuarios")' + '/' + id,
                success: function (data) {
                    alert(data);
                    window.location.href = window.location.href;
                },
                error: function () {
                    alert('Algo salio mal');
                }
            });
        };
    </script>
    }

