@model List<PlatosModel>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "platos listado";
}

<div class="row mt-5">
    <div class="col-md-12">
        <h1 class="text-danger font-weight-bold text-center">LISTADO DE LOS PLATOS</h1>
        <div class="row ml-2 my-4">
            <div class="md-12">
                <a class="btn btn-primary" asp-action="AddPlat" >Añadir Nuevo</a>
            </div>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center align-middle">ID</th>
                    <th class="text-center align-middle">Nombre </th>
                    <th class="text-center align-middle">Precio</th>
                    <th class="text-center align-middle">Descripcion</th>
                    <th class="text-center align-middle">Imagen</th>
                    <th class="text-center align-middle">Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center align-middle">@item.IdPlat</td>
                        <td class="text-center align-middle">@item.NombrePlato</td>
                        <td class="text-center align-middle">S/. @item.Precio</td>
                        <td class="text-justify align-middle">@item.Descripcion</td>
                        <td class="text-center align-middle"><img src="~/imgs/@item.Imagen" style="width: 100px; height: 100px;"></td>
                        <td class="text-center align-middle">
                            <a asp-action="EditPlat" asp-route-id="@item.IdPlat" class="btn btn-primary">Editar</a>
                            <a onclick="DeleteAlumno(@item.IdPlat)" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
 </div>

@section Scripts{
    <script type="text/javascript">
        const DeleteAlumno = (id) => {
            if (!confirm("¿Esta seguro que desea eliminar el registro?")) return;
            $.ajax({
                type: "GET",
                url: '@Url.Action("DeletePlatConfirmed","Platos")' + '/' + id,
                success: function (data) {
                    alert(data);
                    window.location.href = window.location.href;
                },
                error: function () {
                    alert('Algo salio mal');
                }
            });
        };
    </script>
}