@model List<ReservacionModel>
 

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Listado de Reservas";
}

<div class="row mt-5">
    <div class="col-md-12">
        <h1 class="text-danger font-weight-bold text-center">LISTADO DE RESERVAS</h1>
        <div class="row ml-2 my-4">
            <div class="md-12">
                <a class="btn btn-primary" asp-action="AddReser">Añadir Nuevo</a>
            </div>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center align-middle">ID Reserva</th>
                    <th class="text-center align-middle">Fecha de Reserva</th>
                    <th class="text-center align-middle">Hora de Reserva</th>
                    <th class="text-center align-middle">Cantidad</th>
                    <th class="text-center align-middle">Nombre del Cliente</th>
                    <th class="text-center align-middle">Nro. de Mesa</th>
                    <th class="text-center align-middle">Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center align-middle">@item.IdReser</td>
                        <td class="text-center align-middle">@item.FechaReserva</td>
                        <td class="text-center align-middle">@item.HoraReserva</td>
                        <td class="text-center align-middle">@item.Cantidad</td>
                        <td class="text-center align-middle">@item.NombreCliente</td>
                        <td class="text-center align-middle">@item.NroMesa</td>
                        <td>
                            <!--<a asp-action="EditUsu" asp-route-id="@item.IdReser " class="btn btn-primary">Editar</a>
                            <a onclick="DeleteUsuario(@item.IdReser)" class="btn btn-danger">Eliminar</a> -->
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
